/* Media queries */
@media (max-width: 1024px) {
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1rem 2rem;
    }

    section {
        padding: 5rem 2rem;
    }

    .slider {
        justify-content: flex-start;
        background-position: center;
    }

    .banner-content {
        justify-content: flex-start;
        background-position: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .header .icons #menu-bars {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background-color: #eee;
    }

    .banner-name {
        line-height: 5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .header .login-form {
        width: 90%;
    }
}
